// Botões
ion-grid ion-row ion-button {
 
    text-transform: uppercase;
    border-radius: 5px !important;
    margin: -15px auto !important;
    margin-top: 20px !important;
    width: 100px !important;
    height: 40px !important;
    
  }
