p{
    color: black !important;

}

// Botões
ion-content ion-row ion-button {
 
    text-transform: capitalize;
    border-radius: 5px !important;
    margin: -15px auto !important;
    margin-top: 15px !important;
    width: 100px !important;
    height: 40px !important;
    
  }

//   h1{
   
//   }

