<ion-content  class="ion-padding ion-text-center"  color="warning" >
  <img src="../../assets/starwars.png" class="logo" />

  <form [formGroup]="formLogin">
  <ion-grid>
    <ion-row>
      <ion-item no-lines>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-input type="email"  placeholder="E-mail" formControlName="email" id="email" name="email"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item no-lines>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input [type]="exibir_senha"  placeholder="Senha" formControlName="senha" id="senha" name="senha"></ion-input>
        <ion-icon name="eye" item-right (click)="mostrarSenha()"></ion-icon>
      </ion-item>
    </ion-row>
   
    <p (click)="esqueciSenha()">Esqueci minha senha</p>
    <!-- Botões -->
    <ion-row>
      <ion-button color="dark" (click)="entrar()" [disabled]="!formLogin.valid">Entrar</ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="light" (click)="cadastro()">Cadastrar</ion-button>
    </ion-row>

  </ion-grid>
  </form>
</ion-content>
